<div class="yes-chat-view-container" [ngClass]="{ show: chat }">
  <header class="header">
    <img src="{{
        this.user?.id !== this.chat?.user_1?.id
          ? this.chat?.user_1?.avatar?.url
          : this.chat?.user_2?.avatar?.url
      }}" alt="" />
    <span>
      {{
      (this.user?.id !== this.chat?.user_1?.id
      ? (this.chat?.user_1?.first_name + " " + this.chat?.user_1?.last_name)
      : (this.chat?.user_2?.first_name + " " + this.chat?.user_2?.last_name))

      }}
    </span>
    <span>
      {{
      this.user?.id !== this.chat?.user_1?.id
      ? this.chat?.user_1?.status
      ? "Online"
      : "Offline"
      : this.chat?.user_2?.status
      ? "Online"
      : "Offline"
      }}
    </span>
  </header>

  <div class="bubbles-container" #bubbles>

    <div class="bubble-scroll-container">
      <span class="bubble" [ngClass]="{'own':this.user?.id===message?.emitter}"
        *ngFor="let message of chat?.messages">{{message.message}}</span>
    </div>

  </div>

  <form class="input-form" [formGroup]="messageForm" (ngSubmit)="sendMessage(messageForm.value)">
    <div class="input-container-sendmessage">
      <input type="text" placeholder="Send message" formControlName="message" class="input-sendmessage">
      <button type="submit" class="icon-send-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z" />
          <path
            d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z" />
        </svg>
      </button>
    </div>
  </form>
</div>